@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: TWKL;
  src: url(font/TWKLausanne-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: Wulkan;
  src: url(font/WulkanDisplayRegular.woff2);
}
body {
  background-color: #000;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#intro {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}
section#intro small {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 3;
  animation: textIntro 5s ease-in-out 1 forwards;
  opacity: 0;
  cursor: pointer;
}
section#intro header {
  position: absolute;
  max-width: 96%;
  width: 100%;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  animation: textIntro 2s ease-in-out 1 forwards;
  opacity: 0;
}
section#intro header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  section#intro header ul {
    display: none;
  }
}
section#intro header ul li {
  font-size: 12px;
  line-height: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 14px;
  font-family: "TWKL", sans-serif;
  cursor: pointer;
  margin: 0 10px;
}
section#intro header ul li:hover {
  background-color: #000;
}
section#intro header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#intro header div a {
  font-size: 12px;
  line-height: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 20px;
  font-family: "TWKL", sans-serif;
  cursor: pointer;
  margin: 0 0px;
  text-decoration: none;
}
section#intro header div a:hover {
  background-color: #000;
}
section#intro header div span {
  position: relative;
  font-size: 12px;
  line-height: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 20px;
  font-family: "TWKL", sans-serif;
  cursor: pointer;
  margin: 0 20px;
  text-decoration: none;
}
section#intro header div span:hover {
  background-color: #000;
}
section#intro:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  animation: fadeEffect 3s ease-in-out 1 forwards;
}
section#intro h1 {
  font-size: 74px;
  color: #FFF;
  font-family: "Wulkan", sans-serif;
  line-height: 74px;
  animation: textIntro 2s ease-in-out 1 forwards;
  opacity: 0;
  font-weight: 400;
}
@media (max-width: 860px) {
  section#intro h1 {
    font-size: 48px;
    line-height: 48px;
  }
}
section#intro h2 {
  line-height: 22px;
  font-size: 16px;
  color: #FFF;
  font-family: "TWKL", sans-serif;
  animation: textIntro 2s ease-in-out 1 forwards;
  opacity: 0;
  font-weight: 300;
  margin: 20px auto 0 auto;
  max-width: 83%;
}
section#intro p {
  line-height: 22px;
  font-size: 16px;
  color: #FFF;
  font-family: "TWKL", sans-serif;
  animation: textIntro 2s ease-in-out 1 forwards;
  opacity: 0;
  font-weight: 300;
  margin: 20px auto 0 auto;
  max-width: 83%;
}
section#intro .wrapper {
  max-width: 710px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
  text-align: center;
}
@media (max-width: 860px) {
  section#intro .wrapper {
    max-width: 90%;
  }
}
section#intro video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes fadeEffect {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes textIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#dine_wine {
  padding: 45px 0 0 0;
  position: relative;
}
#dine_wine img {
  position: absolute;
  left: 50px;
  top: 50px;
  max-width: 190px;
  width: 100%;
  z-index: 3;
}
@media (max-width: 860px) {
  #dine_wine img {
    max-width: 145px;
    transform: translateX(-50%);
    left: 50%;
  }
}
#dine_wine .book {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 100px;
  background-color: #00B2A9;
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  font-family: "TWKL", sans-serif;
  padding: 0 18px;
  border: 1px solid #00B2A9;
  z-index: 3;
}
#dine_wine .book:hover {
  background-color: transparent;
  color: #00B2A9;
}
@media (max-width: 860px) {
  #dine_wine .book {
    right: 50%;
    transform: translateX(50%);
    top: 180px;
    font-size:11px;
    padding:0 8px;
  }
}
#dine_wine:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#dine_wine .wrapper {
  border-radius: 10px;
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  background-image: url("../images/bg-vela-latina-wine.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 860px) {
  #dine_wine .wrapper {
    max-width: 90%;
    align-items: end;
    padding-bottom: 10%;
    height: calc(85vh - 90px);
  }
}

#nikkei {
  padding: 45px 0 0 0;
  position: relative;
}
#nikkei img {
  position: absolute;
  left: 50px;
  top: 50px;
  max-width: 190px;
  width: 100%;
  z-index: 3;
}
@media (max-width: 860px) {
  #nikkei img {
    max-width: 145px;
    transform: translateX(-50%);
    left: 50%;
  }
}
#nikkei .book {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 100px;
  background-color: #00B2A9;
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  font-family: "TWKL", sans-serif;
  padding: 0 18px;
  border: 1px solid #00B2A9;
  z-index: 3;
}
#nikkei .book:hover {
  background-color: transparent;
  color: #00B2A9;
}
@media (max-width: 860px) {
  #nikkei .book {
    right: 50%;
    transform: translateX(50%);
    top: 150px;
     font-size:11px;
    padding:0 8px;
  }
}
#nikkei:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#nikkei .wrapper {
  border-radius: 10px;
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  background-image: url("../images/bg-nikkei.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 860px) {
  #nikkei .wrapper {
    max-width: 90%;
    align-items: end;
    padding-bottom: 10%;
    height: calc(85vh - 90px);
  }
}

#charcutaria {
  padding: 45px 0 0 0;
  position: relative;
}
#charcutaria img {
  position: absolute;
  left: 50px;
  top: 50px;
  max-width: 230px;
  width: 100%;
  z-index: 3;
}
@media (max-width: 860px) {
  #charcutaria img {
    max-width: 160px;
    transform: translateX(-50%);
    left: 50%;
  }
}
#charcutaria .book {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 100px;
  background-color: #00B2A9;
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  font-family: "TWKL", sans-serif;
  padding: 0 18px;
  border: 1px solid #00B2A9;
  z-index: 3;
}
#charcutaria .book:hover {
  background-color: transparent;
  color: #00B2A9;
}
@media (max-width: 860px) {
  #charcutaria .book {
    right: 50%;
    transform: translateX(50%);
    top: 150px;
     font-size:11px;
    padding:0 8px;
  }
}
#charcutaria:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#charcutaria .wrapper {
  border-radius: 10px;
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  background-image: url("../images/bg-charcutaria.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 860px) {
  #charcutaria .wrapper {
    max-width: 90%;
    align-items: end;
    padding-bottom: 10%;
    height: calc(85vh - 90px);
  }
}

#forest {
  padding: 45px 0 0 0;
  position: relative;
}
#forest img {
  position: absolute;
  left: 50px;
  top: 50px;
  max-width: 240px;
  width: 100%;
  z-index: 3;
}
@media (max-width: 860px) {
  #forest img {
    max-width: 165px;
    transform: translateX(-50%);
    left: 50%;
  }
}
#forest .book {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 100px;
  background-color: #00B2A9;
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  font-family: "TWKL", sans-serif;
  padding: 0 18px;
  border: 1px solid #00B2A9;
  z-index: 3;
}
#forest .book:hover {
  background-color: transparent;
  color: #00B2A9;
}
@media (max-width: 860px) {
  #forest .book {
    right: 50%;
    transform: translateX(50%);
    top: 140px;
     font-size:11px;
    padding:0 8px;
  }
}
#forest:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#forest .wrapper {
  border-radius: 10px;
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  background-image: url("../images/bg-forest.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 860px) {
  #forest .wrapper {
    max-width: 90%;
    align-items: end;
    padding-bottom: 10%;
    height: calc(85vh - 90px);
  }
}

#cta {
  background-color: #000;
  padding: 8% 0;
}
@media (max-width: 860px) {
  #cta {
    padding: 12% 0;
  }
}
#cta .wrapper {
  max-width: 900px;
  text-align: center;
}
@media (max-width: 860px) {
  #cta .wrapper {
    max-width: 80%;
  }
}
#cta .wrapper small {
  display: block;
  text-align: center;
  color: #00B2A9;
  font-family: "TWKL", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
#cta .wrapper h4 {
  font-size: 48px;
  color: #FFF;
  font-family: "Wulkan", sans-serif;
  line-height: 48px;
  font-weight: 400;
  margin: 50px 0;
}
@media (max-width: 860px) {
  #cta .wrapper h4 {
    font-size: 40px;
    line-height: 40px;
  }
}

.btn {
  border: 1px solid #00B2A9;
  color: #00B2A9;
  text-transform: uppercase;
  line-height: 63px;
  text-align: center;
  border-radius: 8px;
  padding: 0 40px;
  display: inline-block;
  text-decoration: none;
  font-family: "TWKL", sans-serif;
}
.btn:hover {
  background-color: #00B2A9;
  color: #FFF;
}

footer {
  margin-bottom: 50px;
}
footer .wrapper {
  background-color: #00B2A9;
  border-radius: 10px;
  max-width: 96%;
  margin: 0 auto;
  padding: 50px 36px;
}
@media (max-width: 860px) {
  footer .wrapper {
    max-width: 90%;
  }
}
footer .wrapper img {
  max-width: 193px;
  width: 100%;
  margin-bottom: 90px;
}
@media (max-width: 860px) {
  footer .wrapper img {
    margin-bottom: 0px;
  }
}
footer .wrapper .info {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
@media (max-width: 860px) {
  footer .wrapper .info {
    display: initial;
  }
}
footer .wrapper .info div {
  text-align: left;
  font-family: "TWKL", sans-serif;
}
@media (max-width: 860px) {
  footer .wrapper .info div {
    margin-top: 50px;
  }
}
footer .wrapper .info div h5 {
  font-family: "Wulkan", sans-serif;
  font-size: 16px;
  color: #FFF;
  line-height: 20px;
}
footer .wrapper .info div ul {
  margin-top: 30px;
}
footer .wrapper .info div ul li {
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
  text-transform: uppercase;
}
footer .wrapper .info div ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .wrapper .info div ul li a:hover {
  color: #000;
}
@media (max-width: 860px) {
  footer .wrapper .info div ul {
    margin-top: 20px;
  }
}

.disclamer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 26px 0;
}
@media (max-width: 860px) {
  .disclamer {
    padding: 40px 0;
  }
}
.disclamer .wrapper {
  max-width: 96%;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 860px) {
  .disclamer .wrapper {
    max-width: 90%;
    text-align: center;
  }
}
.disclamer .wrapper ul {
  color: #686868;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 860px) {
  .disclamer .wrapper ul {
    display: initial;
    text-align: center;
  }
}
.disclamer .wrapper ul li {
  color: #686868;
  font-size: 12px;
  line-height: 17px;
  font-family: "TWKL", sans-serif;
  margin-right: 36px;
}
.disclamer .wrapper ul li a {
  color: #686868;
  text-decoration: none;
}
.disclamer .wrapper ul li a:hover {
  color: #00B2A9;
}
@media (max-width: 860px) {
  .disclamer .wrapper ul li {
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.btt {
  font-family: "TWKL", sans-serif;
  color: #FFF;
  font-size: 12px;
  line-height: 24px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 14px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.btt:hover {
  background-color: #00B2A9;
}
@media (max-width: 860px) {
  .btt {
    position: relative;
    height: 24px;
    display: inline-block;
  }
}

.center {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2); /* Transparência */
  backdrop-filter: blur(10px); /* Aplica o efeito de vidro */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  font-family: "TWKL", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  z-index: 3;
}
@media (max-width: 860px) {
  .center {
    max-width: 80%;
  }
}
.center h4 {
  text-align: center;
  padding: 30px 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Wulkan", sans-serif;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 300;
}
.center p {
  padding: 30px 0;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: "TWKL", sans-serif;
  text-transform: none;
}
.center ul {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center ul li {
  font-size: 12px;
  font-family: "TWKL", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  line-height: 60px;
  text-align: center;
}
.center ul li a {
  text-decoration: none;
  color: #FFF;
}
.center ul li a:hover {
  color: #00B2A9;
}
.center ul li:nth-of-type(2) {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 60px;
}

.book-table {
  position: relative;
}
.book-table ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  display: initial !important;
}
.book-table ul li {
  display: block;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 14px !important;
  font-family: "TWKL", sans-serif;
  cursor: pointer;
  margin: 0 0 10px 0 !important;
  text-align: center;
  opacity: 0;
}
.book-table ul li:hover {
  background-color: #000;
}
.book-table ul li a {
  background: none !important;
  border-radius: none !important;
  margin: 0 !important;
  padding: 0 !important;
}/*# sourceMappingURL=main.css.map */
